body{
  background-color: black;
}
.result{
  color: white;
  font-size: 45px;
  font-family: Arial;
  margin-top: 15px;
  margin-bottom: 5px;
}
button{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 60px;
  font-size: 26px;
  margin-right: 5px;
  color: white;
  border: none;
}
.grey-button{
  background-color: rgb(51, 51, 51);
}
.orange-button{
  background-color: rgb(254, 160, 10);
}

.clear-button{
  font-size: 17px;
  padding-right: 1px 6px;
}
